<script src="//cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script>
   window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
</script>
<%- js('js/plugin.min') %>
<%- js('js/application') %>
<%- partial('_script/search') %>
<% if (page.layout === 'repository'){ %>
<%- partial('_script/repository') %>
<% } %>
<% if (page.layout === 'books'){ %>
<%- partial('_script/douban') %>
<% } %>
<% if (is_home() || is_post()) { %>
<%- partial('_script/pv') %>
<% } %>
<% if (!is_home() && !is_category() && !is_tag() && !is_archive() && post.comments) { %>
<%- partial('_script/comment') %>
<% } %>
<%- partial('_script/fancybox') %>
<%- partial('_script/analytics') %>

<!-- 回到顶部 -->
<style type="text/css">
   #go-top {
      width: 40px;
      height: 36px;
      background-color: #DDA0DD;
      position: relative;
      border-radius: 2px;
      position: fixed;
      right: 10px;
      bottom: 60px;
      cursor: pointer;
      display: none;
   }

   #go-top:after {
      content: " ";
      position: absolute;
      left: 14px;
      top: 14px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      width: 12px;
      height: 12px;
      transform: rotate(-45deg);
   }

   #go-top:hover {
      background-color: #8A2BE2;
   }
</style>

<div id="go-top"></div>

<script>
   $(function () {
      var top = $("#go-top");
      $(window).scroll(function () {
         ($(window).scrollTop() > 300) ? top.show(300): top.hide(200);
         $("#go-top").click(function () {
            $('body,html').animate({
               scrollTop: 0
            });
            return false();
         })
      });
   });
</script>